on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production

jobs:
  manual-job:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to chosen environment
        run: echo "Deploying to ${{ github.event.inputs.environment }}..."
